/* home */
.svcet-font{
    font-size: 85px;
    letter-spacing: 17px;
}
.svcet-font-two{
  font-size: 49px;
  letter-spacing: 2px;
}
.about-box{
  border: 1.5px solid var(--blue);
  padding: 15px;

}
.org-carousel img{
  width: 250px;
  margin: 0 auto;
}

.acheivers-box {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.acheivers-box img {
 width: 250px;
  border-radius: 18px;
  border: 7px solid #9b111e;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(227, 186, 190, 0.6), 0 0 30px rgba(239, 158, 166, 0.3);
border-radius: 18px;
}
.placed-content {
position: absolute;
    bottom: 6px;
    width: 64%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 11px 11px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.image-text {
  font-size: 133px;
  font-weight: 900;
  text-transform: uppercase;
  background-image: url('./assets/images/home/imagetext.webp');
  background-size: cover;
  background-position: center;
  color: rgba(93, 93, 168, 0.196);
  -webkit-background-clip: text;
  background-clip: text;
}

.applications-bg {
  background-image: url('./assets/images/application.jpg');
  background-size: cover;
  background-position: center;
}
/* home */